.cake-form-container {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cake-form-container * {
    margin: 5px;
}
  .cake-form-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .cake-form-container h2 {
    color: rgb(98, 95, 94);
    margin-bottom: 20px;
}
  
  .cake-form-container button {
    padding: 10px 20px;
    background-color: rgb(98, 95, 94);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  

.select-inputs select{
    width: fit-content;
    padding: 5px;
}
