.auth-form-container {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .auth-form-container input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .auth-form-container button {
    padding: 10px 20px;
    background-color:  rgb(98, 95, 94);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  